REGISTRY=tztcloud
TAG=v2.0.0

POOL_CONTROLLER_ADMIN_TOKEN=
ORCH_COORDINATOR_ADMIN_TOKENS=

CHAIN_RPC=
ETH_URLS=
ORCH_ADDRESS=0x1234567890abcdef1234567890abcdef12345678
GAS_PRICE_MULT_PCT=200
REDEEM_GAS=500000

PAYMENT_KEYSTORE=/opt/livepeer/payment-keystore.json
PAYMENT_KEYSTORE_PASSWORD_FILE=/opt/livepeer/payment-keystore-password

LIVEPEER_SOCKET_DIR=/var/run/livepeer

POOL_CONTROLLER_CONFIG=../../../pool-controller/examples/pool-controller-config.compose.yaml
POOL_CONTROLLER_DATA_DIR=./run/pool-controller
POOL_CONTROLLER_PORT=8080
POOL_CONTROLLER_METRICS_PORT=9090

POOL_BROKER_CONFIG=./run/generated-broker-host-config.yaml

COORDINATOR_CONFIG=./coordinator-config.yaml
COORDINATOR_PUBLIC_PORT=8081
COORDINATOR_LISTEN_PORT=8080
COORDINATOR_METRICS_PORT=9091
COORDINATOR_LOG_LEVEL=info
COORDINATOR_LOG_FORMAT=text

POOL_RECONCILER_CONFIG=../../../pool-reconciler/examples/pool-reconciler-config.compose.yaml
POOL_RECONCILER_STATE_DIR=./run/pool-reconciler

POOL_PAYOUT_EXECUTOR_CONFIG=../../../pool-payout-executor/examples/pool-payout-executor-config.compose.yaml
POOL_PAYOUT_EXECUTOR_KEYSTORE=../../../pool-payout-executor/examples/keystore.json
POOL_PAYOUT_EXECUTOR_KEYSTORE_PASSWORD_FILE=../../../pool-payout-executor/examples/keystore-password
POOL_PAYOUT_EXECUTOR_STATE_DIR=./run/pool-payout-executor
POOL_PAYOUT_EXECUTOR_INTERVAL_MS=5000

BROKER_PUBLIC_BIND=0.0.0.0
BROKER_LISTEN_PORT=8082
BROKER_WORKER_QUIC_BIND=0.0.0.0
BROKER_WORKER_QUIC_PORT=8443
BROKER_METRICS_BIND=127.0.0.1
BROKER_METRICS_PORT=9092
BROKER_LOG_LEVEL=info

BROKER_CONFIG_RENDER_OUTPUT=./run/generated-broker-host-config.yaml
