REGISTRY=tztcloud
TAG=v2.0.0

POOL_CONTROLLER_ADMIN_TOKEN=

LIVEPEER_SOCKET_DIR=/var/run/livepeer

POOL_CONTROLLER_CONFIG=../../../pool-controller/examples/pool-controller-config.example.yaml
POOL_CONTROLLER_DATA_DIR=./run/pool-controller
POOL_CONTROLLER_PORT=8080
POOL_CONTROLLER_METRICS_PORT=9090

POOL_RECONCILER_CONFIG=../../../pool-reconciler/examples/pool-reconciler-config.compose.yaml
POOL_RECONCILER_STATE_DIR=./run/pool-reconciler

POOL_PAYOUT_EXECUTOR_CONFIG=../../../pool-payout-executor/examples/pool-payout-executor-config.compose.yaml
POOL_PAYOUT_EXECUTOR_KEYSTORE=../../../pool-payout-executor/examples/keystore.json
POOL_PAYOUT_EXECUTOR_KEYSTORE_PASSWORD_FILE=../../../pool-payout-executor/examples/keystore-password
POOL_PAYOUT_EXECUTOR_STATE_DIR=./run/pool-payout-executor
POOL_PAYOUT_EXECUTOR_INTERVAL_MS=5000
