REGISTRY=tztcloud
TAG=v2.0.0

POOL_CONTROLLER_ADMIN_TOKEN=
POOL_RECONCILER_CONFIG=../examples/pool-reconciler-config.compose.yaml
POOL_RECONCILER_STATE_DIR=./run/data
LIVEPEER_SOCKET_DIR=/var/run/livepeer
