REGISTRY=tztcloud
TAG=v1.0.0

CHAIN_RPC=https://arb1.arbitrum.io/rpc
ETH_URLS=https://arb1.arbitrum.io/rpc,https://arbitrum.publicnode.com
CHAIN_ID=42161
CONTROLLER_ADDRESS=0xD8E8328501E9645d16Cf49539efC04f734606ee4
SERVICE_REGISTRY_ADDRESS=0x04cEB6f6d4e0D0d06f3Ec4c0dB4A5715A2c2Be8e
ORCH_ADDRESS=0xYOUR_COLD_ORCH_ADDRESS

PROTOCOL_MODE=both
MIN_BALANCE_WEI=5000000000000000

PROTOCOL_KEYSTORE=./run/protocol-keystore.json
PROTOCOL_KEYSTORE_PASSWORD_FILE=./run/protocol-keystore-password

SECURE_ORCH_KEYSTORE=./run/secure-orch-keystore.json
SECURE_ORCH_PASSWORD_FILE=./run/secure-orch-password
SECURE_ORCH_PORT=8080

COORDINATOR_CONFIG=./orch-coordinator.yaml
COORDINATOR_LISTEN_PORT=8080
COORDINATOR_PUBLIC_PORT=8081
COORDINATOR_METRICS_PORT=9091
COORDINATOR_LOG_LEVEL=info
COORDINATOR_LOG_FORMAT=text

PROTOCOL_METRICS_PORT=9094
REGISTRY_METRICS_PORT=9095

DISCOVERY_MODE=chain
ROUND_POLL_INTERVAL=15s
CACHE_MANIFEST_TTL=5m
MANIFEST_MAX_BYTES=1048576
MANIFEST_FETCH_TIMEOUT=5s
MAX_STALE=30m
REJECT_UNSIGNED=true
STATIC_OVERLAY=
