REGISTRY=tztcloud
TAG=v1.4.1

POOL_CONTROLLER_ADMIN_TOKEN=
POOL_PAYOUT_EXECUTOR_CONFIG=../examples/pool-payout-executor-config.compose.yaml
POOL_PAYOUT_EXECUTOR_KEYSTORE=../examples/keystore.json
POOL_PAYOUT_EXECUTOR_KEYSTORE_PASSWORD_FILE=../examples/keystore-password
POOL_PAYOUT_EXECUTOR_STATE_DIR=./run/data
POOL_PAYOUT_EXECUTOR_INTERVAL_MS=5000
