REGISTRY=tztcloud
TAG=v1.4.0

POOL_CONTROLLER_ADMIN_TOKEN=
POOL_CONTROLLER_PORT=8080
POOL_CONTROLLER_METRICS_PORT=9090
POOL_CONTROLLER_CONFIG=../examples/pool-controller-config.compose.yaml
POOL_CONTROLLER_DATA_DIR=./run/data
LIVEPEER_SOCKET_DIR=/var/run/livepeer
