REGISTRY=tztcloud
BROKER_TAG=v1.0.0
PAYMENT_TAG=v1.0.0

HF_TOKEN=replace-me
CHAIN_RPC=https://arb1.arbitrum.io/rpc
ORCH_ADDRESS=0xYOUR_COLD_ORCH_ADDRESS

BROKER_LOG_LEVEL=info
BROKER_LISTEN_PORT=8080
BROKER_METRICS_PORT=9090

PAYMENT_KEYSTORE=./run/hot-wallet-keystore.json
PAYMENT_KEYSTORE_PASSWORD_FILE=./run/keystore-password
LIVEPEER_KEYSTORE_PASSWORD=
GAS_PRICE_MULT_PCT=200
REDEEM_GAS=500000
